name: Publish NPM package

on:
  release:
    types: [published]

jobs:
    publish:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
          with:
            fetch-depth: 0
        
        - name: Setup Node.js
          uses: actions/setup-node@v2
          with:
            node-version: '20'
            registry-url: 'https://registry.npmjs.org'

        - name: Install dependencies
          run: npm install

        - name: Build
          run: npm run pack
        
        - name: Publish
          run: npm publish --access public --no-git-checks
          env:
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}


